#bg5{
	width: 100%;
	position: absolute;
	background: url(2/bged.png) no-repeat;
	background-size: 100% 100%;
}
#china5{
	width: 16%;
	position: absolute;
	left: 42%;
	top: 20.94%;
}
#china5 img{
	width: 100%;
}
#twenty5 {
	width: 23%;
	position: absolute;
	left: 65%;
	top: 65.88%;
	
}
#twenty5 img {
	width: 100%;
}
#beauty5{
	width: 20%;
	position: absolute;
	left: 40%;
	top: 60%;
}
#beauty5 img {
	width: 100%;
}
#year5 {
	position: absolute;
	width: 22%;
	left: 40%;
	top: 71%;
}
#year5 img{
	width: 100%;
}
#master5 {
	position: absolute;
	width: 30%;
	left: 30%;
	top: 76%;
}
#master5 img{
	width: 100%;
}
#si5 {
	position: absolute;
	width: 22%;
	left: 40%;
	top: 63%;
}
#si5 img{
	width: 100%;
}
#lineder1{
	position: absolute;
	top: 6%;
	left: -4%;
	width: 0;
	transform-origin: left;
	transform: rotate(30deg);
	height: 1px;
	background: url(2/line4.png) no-repeat;
	background-size: 100% 100%;
}
.lineder1{
	width: 0;
	animation:lineder11 1s 1s alternate forwards linear;
}
@keyframes lineder11{
	from{
	width: 0;
	}
	to{
		width: 42%;
	}
}
#lineder2{
	position: absolute;
	bottom: 0;
	left: 30%;
	width: 0;
	transform-origin: left;
	transform: rotate(-90deg);
	height: 1px;
	background: url(2/line4.png) no-repeat;
	background-size: 100% 100%;
}
.lineder2{
	width: 0;
	animation:lineder21 1s 1s alternate forwards linear;
}
@keyframes lineder21{
	from{
	width: 0;
	}
	to{
		width: 32%;
	}
}
#lineder3{
	position: absolute;
	top: 20%;
	right: -4%;
	width: 0;
	transform-origin: right;
	transform: rotate(30deg);
	height: 1px;
	background: url(2/line4.png) no-repeat;
	background-size: 100% 100%;
}
.lineder3{
	width: 0;
	animation:lineder31 1s 1s alternate forwards linear;
}
@keyframes lineder31{
	from{
	width: 0;
	}
	to{
		width: 42%;
	}
}
#pointeder1{
	position: absolute;
	top: 16%;
	left: 30.44%;
	width: 3%;
	opacity: 0;
}
#pointeder1 img{
	width: 100%;
}
.pointeder1{
	animation: pointeder11 0.1s 1.9s alternate forwards linear;
}
@keyframes  pointeder11{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
#pointeder2{
	position: absolute;
	top: 81%;
	left: 28.55%;
	width: 3%;
	opacity: 0;
}
#pointeder2 img{
	width: 100%;
}
.pointeder2{
	animation: pointeder21 0.1s 1.9s alternate forwards linear;
}
@keyframes  pointeder21{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
#pointeder3{
	position: absolute;
	top: 6.66%;
	left: 66.44%;
	width: 3%;
	opacity: 0;
}
#pointeder3 img{
	width: 100%;
}
.pointeder3{
	animation: pointeder31 0.1s 1.9s alternate forwards linear;
}
@keyframes  pointeder31{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
#lineder4{
	position: absolute;
	top: 17.5%;
	left: 31.94%;
	width: 0;
	transform-origin: left;
	transform: rotate(90deg);
	height: 1px;
	background: url(2/line4.png) no-repeat;
	background-size: 100% 100%;
}
.lineder4{
	width: 0;
	animation:lineder41 1s 2s alternate forwards linear;
}
@keyframes lineder41{
	from{
	width: 0;
	}
	to{
		width: 97%;
	}
}
#lineder5{
	position: absolute;
	top: 82.5%;
	left: 30.05%;
	width: 0;
	/*transform-origin: left;*/
	/*transform: rotate(90deg);*/
	height: 1px;
	background: url(2/line4.png) no-repeat;
	background-size: 100% 100%;
}
.lineder5{
	width: 0;
	animation:lineder51 1s 2s alternate forwards linear;
}
@keyframes lineder51{
	from{
	width: 0;
	}
	to{
		width: 38%;
	}
}
#lineder6{
	position: absolute;
	top: 8.16%;
	left: 67.94%;
	width: 0;
	transform-origin: left;
	transform: rotate(90deg);
	height: 1px;
	background: url(2/line4.png) no-repeat;
	background-size: 100% 100%;
}
.lineder6{
	width: 0;
	animation:lineder61 1s 2s alternate forwards linear;
}
@keyframes lineder61{
	from{
	width: 0;
	}
	to{
		width: 97%;
	}
}
#pointeder4{
	position: absolute;
	top: 71%;
	left: 30.66%;
	width: 3%;
	opacity: 0;
}
#pointeder4 img{
	width: 100%;
}
.pointeder4{
	animation: pointeder41 0.1s 2.9s alternate forwards linear;
}
@keyframes  pointeder41{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
#pointeder5{
	position: absolute;
	top: 80.66%;
	left: 66.88%;
	width: 3%;
	opacity: 0;
}
#pointeder5 img{
	width: 100%;
}
.pointeder5{
	animation: pointeder51 0.1s 2.9s alternate forwards linear;
}
@keyframes  pointeder51{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
#pointeder6{
	position: absolute;
	top: 61.11%;
	left: 66.55%;
	width: 3%;
	opacity: 0;
}
#pointeder6 img{
	width: 100%;
}
.pointeder6{
	animation: pointeder61 0.1s 2.9s alternate forwards linear;
}
@keyframes  pointeder61{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
#lineder7{
	position: absolute;
	top: 82.16%;
	left: 68.2%;
	width: 0;
	transform-origin: left;
	transform: rotate(-90deg);
	height: 1px;
	background: url(2/line4.png) no-repeat;
	background-size: 100% 100%;
}
.lineder7{
	width: 0;
	animation:lineder71 0.5s 3s alternate forwards linear;
}
@keyframes lineder71{
	from{
	width: 0;
	}
	to{
		width: 15%;
	}
}
#pointeder7{
	position: absolute;
	top: 72.11%;
	left: 66.55%;
	width: 3%;
	opacity: 0;
}
#pointeder7 img{
	width: 100%;
}
.pointeder7{
	animation: pointeder71 0.1s 3.4s alternate forwards linear;
}
@keyframes  pointeder71{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}