#bg6{
	width: 100%;
	position: absolute;
	background: url(2/bged1.png) no-repeat;
	background-size: 100% 100%;
}
#loading{
	position: absolute;
	font-size: 20px;
	top: 50%;
	left: 30%;
	color: white;
}
#page1{
	position: absolute;
	width: 80%;
	top: 15%;
	left: 10%;
	display: none;
}
#page1 img{
	width: 100%;
}
#location{
	position: absolute;
	width: 6%;
	top: 30%;
	left: 3%;
}
#location img{
	width: 100%;
}
#appear {
	display: none;
	position: absolute;
	/*z-index: 2;*/
	width: 100%;
	background-color: #000000;
	opacity: 0.7;
}
#xx {
	position: absolute;
	/*z-index: 5;*/
	top: 8%;
	left: 86%;
	font-size: 30px;
	color: white;
	/*display: none;*/
}
.pages1{
	position: absolute;
	width: 80%;
	top: 15%;
	left: 10%;
}
.pages1 img{
	width: 100%;
}
.pages2{
	position: absolute;
	width: 74%;
	top: 14%;
	left: 13%;
	opacity: 0.7;
}
.pages2 img{
	width: 100%;
}
.pages3{
	position: absolute;
	width: 70%;
	top: 13%;
	left: 15%;
	opacity: 0.5;
}
.pages3 img{
	width: 100%;
}
.pages4{
	position: absolute;
	width: 70%;
	top: 13%;
	left: 15%;
	opacity: 0.5;
}
.pages4 img{
	width: 100%;
}
.pages5{
	position: absolute;
	width: 70%;
	top: 13%;
	left: 15%;
	opacity: 0.5;
}
.pages5 img{
	width: 100%;
}
.pages6{
	position: absolute;
	width: 70%;
	top: 13%;
	left: 15%;
	opacity: 0.5;
}
.pages6 img{
	width: 100%;
}
.pages7{
	position: absolute;
	width: 70%;
	top: 13%;
	left: 15%;
	opacity: 0.5;
}
.pages7 img{
	width: 100%;
}
.pages8{
	position: absolute;
	width: 70%;
	top: 13%;
	left: 15%;
	opacity: 0.5;
}
.pages8 img{
	width: 100%;
}
.pages9{
	position: absolute;
	width: 70%;
	top: 13%;
	left: 15%;
	opacity: 0.5;
}
.pages9 img{
	width: 100%;
}
.pages10{
	position: absolute;
	width: 70%;
	top: 13%;
	left: 15%;
	opacity: 0.5;
}
.pages10 img{
	width: 100%;
}
.pages11{
	position: absolute;
	width: 70%;
	top: 13%;
	left: 15%;
	opacity: 0.5;
}
.pages11 img{
	width: 100%;
}
.pages12{
	position: absolute;
	width: 70%;
	top: 13%;
	left: 15%;
	opacity: 0.5;
}
.pages12 img{
	width: 100%;
}
.pages13{
	position: absolute;
	width: 70%;
	top: 13%;
	left: 15%;
	opacity: 0.5;
}
.pages13 img{
	width: 100%;
}
.pages14{
	position: absolute;
	width: 70%;
	top: 13%;
	left: 15%;
	opacity: 0.5;
}
.pages14 img{
	width: 100%;
}
.pages15{
	position: absolute;
	width: 70%;
	top: 13%;
	left: 15%;
	opacity: 0.5;
}
.pages15 img{
	width: 100%;
}
.pages16{
	position: absolute;
	width: 70%;
	top: 13%;
	left: 15%;
	opacity: 0.5;
}
.pages16 img{
	width: 100%;
}

